---
layout: base.njk
---

<h1>hello! i'm louis 👋</h1>
<h2>i make silly things on the internet</h2>
<p> <a href="https://tiktok.com/@louismitc" class="button1">tiktok</a><a href="https://instagram.com/louismitc" class="button1">instagram</a> </p>

<br>


<div class=links>
    <h3>links and other things! </h3>
    <a href="https://www.climatecouncil.org.au/donate/" class=button2>🌏  donate to the climate council!</a>
    <a href="https://www.tiktok.com/@theclimatecouncil/video/7248833268374572296" class=button2>💨  get the facts on gas</a>
</div>